__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
.eggs/
.env
.env.*

venv/
.venv/

alembic/versions/*.pyc
alembic/versions/__pycache__/

*.log
*.pid
*.db
*.sqlite3

.cache/
.coverage
htmlcov/
*.cover

.mypy_cache/
.pytest_cache/
.dmypy.json
ruff_cache/

.vscode/
.idea/

dist/
build/
*.tar.gz
*.egg